
/* NEW: Styles for Glowing Desktop Command Bar */
.desktop-command-bar-glow {
  --hue1: 255;
  --hue2: 222;
  --radius: 22px;
  --border: 1px;
  --border-color: hsl(var(--hue2), 12%, 20%);
  --ease: cubic-bezier(0.5, 1, 0.89, 1);
  
  font-family: 'Asap', sans-serif;
  color: #737985;
  
  position: relative;
  overflow: hidden;
  border-radius: var(--radius);
  border: var(--border) solid var(--border-color);
  padding: 0.5rem;
  background: linear-gradient(235deg, hsl(var(--hue1) 50% 10% / 0.8), hsl(var(--hue1) 50% 10% / 0) 33%), 
              linear-gradient(45deg, hsl(var(--hue2) 50% 10% / 0.8), hsl(var(--hue2) 50% 10% / 0) 33%), 
              hsl(220deg 25% 4.8% / 0.8);
  backdrop-filter: blur(16px);
  box-shadow: hsl(var(--hue2) 50% 2%) 0px 10px 16px -8px, hsl(var(--hue2) 50% 4%) 0px 20px 36px -14px;
}

.desktop-command-bar-glow.open .glow-bottom,
.desktop-command-bar-glow.open .shine-bottom {
  animation: glow 1s var(--ease) both;
}

.desktop-command-bar-glow.open .shine-bottom { animation-delay: 0.1s; animation-duration: 1.8s; }
.desktop-command-bar-glow.open .glow-bottom { animation-delay: 0.3s; }
.desktop-command-bar-glow.open .glow-bright.glow-bottom { animation-delay: 0.3s; animation-duration: 1.1s; }

.desktop-command-bar-glow .shine-bottom, .desktop-command-bar-glow .glow-bottom { --hue: var(--hue2); --conic: 135deg; }


.desktop-command-bar-glow .shine-bottom,
.desktop-command-bar-glow .shine-bottom::before,
.desktop-command-bar-glow .shine-bottom::after {
  pointer-events: none;
  border-radius: 0;
  border-top-right-radius: inherit;
  border-bottom-left-radius: inherit;
  border: 1px solid transparent;
  width: 75%;
  height: 30px;
  min-height: 0px;
  aspect-ratio: 1;
  display: block;
  position: absolute;
  left: auto;
  z-index: -1;
  --start: 12%;
  background: conic-gradient(from var(--conic, -45deg) at center in oklch, transparent var(--start, 0%), hsl(var(--hue), var(--sat, 80%), var(--lit, 60%)), transparent var(--end, 50%)) border-box;
  mask: linear-gradient(transparent), linear-gradient(black);
  mask-repeat: no-repeat;
  mask-clip: padding-box, border-box;
  mask-composite: subtract;
}

.desktop-command-bar-glow .shine-bottom::before,
.desktop-command-bar-glow .shine-bottom::after {
  content: "";
  width: auto;
  inset: -2px;
  mask: none;
}

.desktop-command-bar-glow .shine-bottom::after { 
  z-index: -2;
  --start: 17%;
  --end: 33%;
  background: conic-gradient(from var(--conic, -45deg) at center in oklch, transparent var(--start,0%), hsl( var(--hue), var(--sat,80%), var(--lit,85%)), transparent var(--end,50%));
}

.desktop-command-bar-glow .shine-bottom {
  top: auto;
  bottom: calc(var(--border) * -1);
  left: calc(var(--border) * -1);
  right: auto;
}

.desktop-command-bar-glow .glow-bottom {
  pointer-events: none;
  border-top-right-radius: calc(var(--radius) * 2.5);
  border-bottom-left-radius: calc(var(--radius) * 2.5);
  border: calc(var(--radius) * 1.25) solid transparent;
  width: 75%;
  height: auto;
  min-height: 0px;
  aspect-ratio: 1;
  display: block;
  position: absolute;
  left: auto;
  bottom: auto;
  mask: url('https://assets.codepen.io/13471/noise-base.png');
  mask-mode: luminance;
  mask-size: 29%;
  opacity: 1;
  filter: blur(12px) saturate(1.25) brightness(0.5);
  mix-blend-mode: plus-lighter;
  z-index: -3;
}

.desktop-command-bar-glow .glow-bottom {
  inset: calc(var(--radius) * -2);
  top: auto;
  right: auto;
}

.desktop-command-bar-glow .glow-bottom::before,
.desktop-command-bar-glow .glow-bottom::after {
  content: "";
  position: absolute;
  inset: 0;
  border: inherit;
  border-radius: inherit;
  background: conic-gradient(from var(--conic, -45deg) at center in oklch, transparent var(--start, 0%), hsl(var(--hue), var(--sat, 95%), var(--lit, 60%)), transparent var(--end, 50%)) border-box;
  mask: linear-gradient(transparent), linear-gradient(black);
  mask-repeat: no-repeat;
  mask-clip: padding-box, border-box;
  mask-composite: subtract;
  filter: saturate(2) brightness(1);
}

.desktop-command-bar-glow .glow-bottom::after {
  --lit: 70%;
  --sat: 100%;
  --start: 15%;
  --end: 35%;
  border-width: calc(var(--radius) * 1.75);
  border-radius: calc(var(--radius) * 2.75);
  inset: calc(var(--radius) * -0.25);
  z-index: -4;
  opacity: 0.75;
}

.desktop-command-bar-glow .glow-bright.glow-bottom {
  --lit: 80%;
  --sat: 100%;
  --start: 13%;
  --end: 37%;
  border-width: 5px;
  border-radius: calc(var(--radius) + 2px);
  filter: blur(2px) brightness(0.66);
  inset: -7px;
  right: auto;
  top: auto;
}

.desktop-command-bar-glow .glow-bright.glow-bottom::after {
  content: none;
}


.desktop-command-bar-glow .inner {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  font-size: 0.875rem;
}
